/* For mobile phones: */
/* @media (min-width: 480px) {
  input div button h1 image .home Link { 
      font-size: 20px;
}
} */

/* @media (min-width: 600px) { */
  /* For tablets: */
  /* input div button h1 image .home Link { 
    font-size: 25px;
}
} */
/* @media (min-width: 768px) { */
  /* For desktop: */
  /* input div button h1 image .home Link { 
    font-size: 30px;
}
} */

