.button-sports {
    margin: 50px;
    height: 200px;
    width: 200px;
    background-color: rgb(158, 185, 235);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}

.pagbutton {
    margin: 20px;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    width: 60px;
    height: 30px;
}

.pagbutton:hover {
    background-color: #008CBA;
    color: white;
}

.titlee {
    font-size: 50px;
}

.form-control {
    margin-left: 20px;
}

.form-control:hover {
    border-color: #008CBA;
    color: white;
}

.title-sports {
    margin-left: 20px;
}

@media only screen and (min-width: 480px) {
    input { 
        font-size: 20px;
}
}
@media only screen and (min-width: 768px) {
    input { 
        font-size: 25px;
}
}
@media only screen and (min-width: 1200px) {
    input { 
        font-size: 30px;
}
}