.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/63/e9/07/63e907bb76ecf92cc4f71500a46615ad.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}

.formContainer {
    width: 300px;
}

.error {
    font-size: 0.8rem;
    color: #bb0000;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginFormItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}