.container {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    height: 300px;
}

.container-button {
    border-radius: 50px;
    background-color: rgb(151, 245, 214);
    margin: 30px;
}